<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body, html {
      height: 100%;
    }


    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .text-center {
      text-align: center !important;
    }


    .green-box {
      border: 2px solid green;
      background-color: green;
      padding: 20px;
      border-radius: 10px;
    }


    h1, p {
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="green-box">
      <h1 class="mb-4 text-center">Cadastro confirmado!</h1>
      <p class="text-center">Cadastro realizado com sucesso</p>
      <div class="text-center">
        <a href="/" class="btn btn-primary">Voltar para o cadastro</a>
      </div>
    </div>
  </div>
</body>
</html>


